.my-swipe .van-swipe-item[data-v-fae5bece] {
  background-color: #fff;
}

.my-swipe .van-swipe-item[data-v-fae5bece] img {
  width: 100%;
}

.handpick .van-swipe__indicator--active {
  background-color: black !important;
}

.van-swipe__indicators {
  bottom: -15px !important;
  z-index: 2;
}

.van-swipe__indicators .van-swipe__indicator {
  background: #D3D3D3;
}

.van-swipe {
  height: 310px !important;
}
