.van-nav-bar {
    width: 100%;
    height: 44px;
    background-color: #fff;
}

.van-nav-bar__title {
    font-size: 16px;
    font-family: PingFang;
    font-weight: 800;
    color: #000000;
    line-height: 20px;
}

.van-nav-bar .van-icon {
    font-size: 16px;
    color: #000;
}

.van-field__label {
    font-size: 13px;
    font-family: PingFang;
    font-weight: 800;
    color: #232323;
    line-height: 20px;
}


/* 地址选择头背景灰色 */

.van-picker__toolbar {
    width: 100%;
    height: 45px;
    background: #eee;
}

.van-picker__confirm {
    color: green;
}

.van-picker__cancel {
    color: #333;
}